<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="400" viewBox="0 0 800 400">
<defs>
  <clipPath id="clip00">
    <rect x="0" y="0" width="800" height="400"/>
  </clipPath>
</defs>
<polygon clip-path="url(#clip00)" points="
0,400 800,400 800,0 0,0 
  " fill="#ffffff" fill-opacity="1"/>
<defs>
  <clipPath id="clip01">
    <rect x="160" y="0" width="561" height="400"/>
  </clipPath>
</defs>
<polygon clip-path="url(#clip00)" points="
12.8259,369.204 796.063,369.204 796.063,3.93701 12.8259,3.93701 
  " fill="#ffffff" fill-opacity="1"/>
<defs>
  <clipPath id="clip02">
    <rect x="12" y="3" width="784" height="366"/>
  </clipPath>
</defs>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,369.204 796.063,369.204 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,369.204 12.8259,363.725 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  208.635,369.204 208.635,363.725 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  404.444,369.204 404.444,363.725 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  600.254,369.204 600.254,363.725 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  796.063,369.204 796.063,363.725 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,369.204 12.8259,3.93701 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,369.204 24.5745,369.204 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,300.033 24.5745,300.033 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,230.862 24.5745,230.862 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,161.691 24.5745,161.691 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,92.52 24.5745,92.52 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  12.8259,23.349 24.5745,23.349 
  "/>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:middle;" transform="rotate(0, 12.8259, 381.604)" x="12.8259" y="381.604">0</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:middle;" transform="rotate(0, 208.635, 381.604)" x="208.635" y="381.604">10</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:middle;" transform="rotate(0, 404.444, 381.604)" x="404.444" y="381.604">20</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:middle;" transform="rotate(0, 600.254, 381.604)" x="600.254" y="381.604">30</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:middle;" transform="rotate(0, 796.063, 381.604)" x="796.063" y="381.604">40</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 373.704)" x="11.2259" y="373.704">0</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 304.533)" x="11.2259" y="304.533">1</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 235.362)" x="11.2259" y="235.362">2</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 166.191)" x="11.2259" y="166.191">3</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 97.02)" x="11.2259" y="97.02">4</text>
</g>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:end;" transform="rotate(0, 11.2259, 27.849)" x="11.2259" y="27.849">5</text>
</g>
<polyline clip-path="url(#clip02)" style="stroke:#0000ff; stroke-width:0.8; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  49.2187,196.145 66.0306,184.908 82.8425,174.257 99.6545,164.182 116.466,154.688 133.278,145.781 150.09,137.448 166.902,129.709 183.714,122.563 200.526,115.991 
  217.338,109.96 234.15,104.427 250.962,99.3355 267.774,94.6418 284.585,90.2138 301.397,86.442 318.209,83.2167 335.021,80.3702 351.833,77.7164 368.645,75.2744 
  385.457,72.9523 402.269,70.6735 419.081,69.1291 435.893,67.7557 452.705,66.6893 469.516,65.857 486.328,64.7065 503.14,62.8249 519.952,60.8465 536.764,58.8521 
  553.576,57.1508 570.388,55.6911 587.2,54.5391 604.012,53.6947 620.824,53.2969 637.635,52.9593 654.447,52.4183 671.259,51.7853 688.071,51.2144 704.883,50.3978 
  721.695,49.3494 738.507,48.4049 755.319,47.5771 772.131,46.9195 788.943,46.3503 805.755,45.7922 822.566,45.0769 839.378,44.2552 856.19,43.5373 873.002,42.9846 
  889.814,42.6173 906.626,42.368 923.438,42.2419 940.25,42.3089 957.062,42.4859 973.874,42.783 990.686,43.188 1007.5,43.704 1024.31,44.3408 1041.12,45.1791 
  1057.93,46.1122 1074.75,47.1708 1091.56,48.3868 1108.37,49.7552 1125.18,51.137 1141.99,52.6278 1158.8,54.242 1175.62,56.0093 1192.43,58.0605 1209.24,60.318 
  1226.05,62.7758 1242.86,65.5556 1259.68,68.6029 1276.49,64.4962 1293.3,87.3535 1310.11,91.3715 1326.92,95.4824 1343.74,99.6851 1360.55,103.978 1377.36,50.6128 
  1394.17,51.3071 1410.98,51.917 1427.8,77.7988 1444.61,76.4144 1461.42,74.8137 1478.23,72.9886 1495.04,70.9307 
  "/>
<polygon clip-path="url(#clip02)" points="
49.2187,214.181 66.0306,202.893 82.8425,192.385 99.6545,182.605 116.466,173.526 133.278,165.124 150.09,157.356 166.902,150.226 183.714,143.72 200.526,137.798 
  217.338,132.406 234.15,127.506 250.962,123.016 267.774,118.851 284.585,114.853 301.397,111.512 318.209,108.663 335.021,106.224 351.833,104 368.645,101.954 
  385.457,100.177 402.269,98.4303 419.081,97.5892 435.893,96.9582 452.705,96.5845 469.516,96.389 486.328,95.7559 503.14,94.2729 519.952,92.4103 536.764,90.2869 
  553.576,88.2305 570.388,86.1397 587.2,84.2158 604.012,82.4646 620.824,80.9144 637.635,79.3755 654.447,77.61 671.259,75.7835 688.071,74.1197 704.883,72.4413 
  721.695,70.7347 738.507,69.3871 755.319,68.4125 772.131,67.8192 788.943,67.513 805.755,67.2781 822.566,66.8635 839.378,66.2922 856.19,65.8563 873.002,65.6715 
  889.814,65.6892 906.626,65.863 923.438,66.2127 940.25,66.8252 957.062,67.564 973.874,68.4266 990.686,69.3842 1007.5,70.4221 1024.31,71.5323 1041.12,72.8104 
  1057.93,74.1593 1074.75,75.5581 1091.56,77.0404 1108.37,78.5895 1125.18,80.0327 1141.99,81.4808 1158.8,82.9495 1175.62,84.4616 1192.43,86.2256 1209.24,88.1485 
  1226.05,90.2458 1242.86,92.72 1259.68,95.5209 1276.49,99.6946 1293.3,124.87 1310.11,130.36 1326.92,136.262 1343.74,142.592 1360.55,149.361 1377.36,97.2885 
  1394.17,97.0076 1410.98,96.5453 1427.8,138.926 1444.61,137.053 1461.42,134.811 1478.23,132.185 1495.04,129.158 1495.04,12.7032 1478.23,13.7922 1461.42,14.8163 
  1444.61,15.776 1427.8,16.6718 1410.98,7.28864 1394.17,5.60664 1377.36,3.93701 1360.55,58.5953 1343.74,56.7781 1326.92,54.7032 1310.11,52.3835 1293.3,49.8372 
  1276.49,29.2977 1259.68,41.6849 1242.86,38.3913 1226.05,35.3058 1209.24,32.4874 1192.43,29.8954 1175.62,27.557 1158.8,25.5345 1141.99,23.7748 1125.18,22.2413 
  1108.37,20.9208 1091.56,19.7332 1074.75,18.7835 1057.93,18.0652 1041.12,17.5479 1024.31,17.1492 1007.5,16.9858 990.686,16.9918 973.874,17.1394 957.062,17.4078 
  940.25,17.7927 923.438,18.271 906.626,18.873 889.814,19.5454 873.002,20.2976 856.19,21.2182 839.378,22.2181 822.566,23.2903 805.755,24.3063 788.943,25.1876 
  772.131,26.0197 755.319,26.7417 738.507,27.4227 721.695,27.9641 704.883,28.3543 688.071,28.3091 671.259,27.7871 654.447,27.2267 637.635,26.543 620.824,25.6795 
  604.012,24.9249 587.2,24.8623 570.388,25.2426 553.576,26.071 536.764,27.4173 519.952,29.2827 503.14,31.3769 486.328,33.6571 469.516,35.325 452.705,36.794 
  435.893,38.5533 419.081,40.6691 402.269,42.9168 385.457,45.7274 368.645,48.5953 351.833,51.4331 335.021,54.5164 318.209,57.7706 301.397,61.3725 284.585,65.5742 
  267.774,70.4322 250.962,75.6547 234.15,81.3486 217.338,87.5129 200.526,94.1843 183.714,101.406 166.902,109.192 150.09,117.54 133.278,126.437 116.466,135.85 
  99.6545,145.759 82.8425,156.13 66.0306,166.924 49.2187,178.109 49.2187,369.204 66.0306,369.204 82.8425,369.204 99.6545,369.204 116.466,369.204 133.278,369.204 
  150.09,369.204 166.902,369.204 183.714,369.204 200.526,369.204 217.338,369.204 234.15,369.204 250.962,369.204 267.774,369.204 284.585,369.204 301.397,369.204 
  318.209,369.204 335.021,369.204 351.833,369.204 368.645,369.204 385.457,369.204 402.269,369.204 419.081,369.204 435.893,369.204 452.705,369.204 469.516,369.204 
  486.328,369.204 503.14,369.204 519.952,369.204 536.764,369.204 553.576,369.204 570.388,369.204 587.2,369.204 604.012,369.204 620.824,369.204 637.635,369.204 
  654.447,369.204 671.259,369.204 688.071,369.204 704.883,369.204 721.695,369.204 738.507,369.204 755.319,369.204 772.131,369.204 788.943,369.204 805.755,369.204 
  822.566,369.204 839.378,369.204 856.19,369.204 873.002,369.204 889.814,369.204 906.626,369.204 923.438,369.204 940.25,369.204 957.062,369.204 973.874,369.204 
  990.686,369.204 1007.5,369.204 1024.31,369.204 1041.12,369.204 1057.93,369.204 1074.75,369.204 1091.56,369.204 1108.37,369.204 1125.18,369.204 1141.99,369.204 
  1158.8,369.204 1175.62,369.204 1192.43,369.204 1209.24,369.204 1226.05,369.204 1242.86,369.204 1259.68,369.204 1276.49,369.204 1293.3,369.204 1310.11,369.204 
  1326.92,369.204 1343.74,369.204 1360.55,369.204 1377.36,369.204 1394.17,369.204 1410.98,369.204 1427.8,369.204 1444.61,369.204 1461.42,369.204 1478.23,369.204 
  1495.04,369.204 1495.04,369.204 1478.23,369.204 1461.42,369.204 1444.61,369.204 1427.8,369.204 1410.98,369.204 1394.17,369.204 1377.36,369.204 1360.55,369.204 
  1343.74,369.204 1326.92,369.204 1310.11,369.204 1293.3,369.204 1276.49,369.204 1259.68,369.204 1242.86,369.204 1226.05,369.204 1209.24,369.204 1192.43,369.204 
  1175.62,369.204 1158.8,369.204 1141.99,369.204 1125.18,369.204 1108.37,369.204 1091.56,369.204 1074.75,369.204 1057.93,369.204 1041.12,369.204 1024.31,369.204 
  1007.5,369.204 990.686,369.204 973.874,369.204 957.062,369.204 940.25,369.204 923.438,369.204 906.626,369.204 889.814,369.204 873.002,369.204 856.19,369.204 
  839.378,369.204 822.566,369.204 805.755,369.204 788.943,369.204 772.131,369.204 755.319,369.204 738.507,369.204 721.695,369.204 704.883,369.204 688.071,369.204 
  671.259,369.204 654.447,369.204 637.635,369.204 620.824,369.204 604.012,369.204 587.2,369.204 570.388,369.204 553.576,369.204 536.764,369.204 519.952,369.204 
  503.14,369.204 486.328,369.204 469.516,369.204 452.705,369.204 435.893,369.204 419.081,369.204 402.269,369.204 385.457,369.204 368.645,369.204 351.833,369.204 
  335.021,369.204 318.209,369.204 301.397,369.204 284.585,369.204 267.774,369.204 250.962,369.204 234.15,369.204 217.338,369.204 200.526,369.204 183.714,369.204 
  166.902,369.204 150.09,369.204 133.278,369.204 116.466,369.204 99.6545,369.204 82.8425,369.204 66.0306,369.204 49.2187,369.204 
  " fill="#0000ff" fill-opacity="0.5"/>
<polyline clip-path="url(#clip02)" style="stroke:#0000ff; stroke-width:0; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  49.2187,214.181 66.0306,202.893 82.8425,192.385 99.6545,182.605 116.466,173.526 133.278,165.124 150.09,157.356 166.902,150.226 183.714,143.72 200.526,137.798 
  217.338,132.406 234.15,127.506 250.962,123.016 267.774,118.851 284.585,114.853 301.397,111.512 318.209,108.663 335.021,106.224 351.833,104 368.645,101.954 
  385.457,100.177 402.269,98.4303 419.081,97.5892 435.893,96.9582 452.705,96.5845 469.516,96.389 486.328,95.7559 503.14,94.2729 519.952,92.4103 536.764,90.2869 
  553.576,88.2305 570.388,86.1397 587.2,84.2158 604.012,82.4646 620.824,80.9144 637.635,79.3755 654.447,77.61 671.259,75.7835 688.071,74.1197 704.883,72.4413 
  721.695,70.7347 738.507,69.3871 755.319,68.4125 772.131,67.8192 788.943,67.513 805.755,67.2781 822.566,66.8635 839.378,66.2922 856.19,65.8563 873.002,65.6715 
  889.814,65.6892 906.626,65.863 923.438,66.2127 940.25,66.8252 957.062,67.564 973.874,68.4266 990.686,69.3842 1007.5,70.4221 1024.31,71.5323 1041.12,72.8104 
  1057.93,74.1593 1074.75,75.5581 1091.56,77.0404 1108.37,78.5895 1125.18,80.0327 1141.99,81.4808 1158.8,82.9495 1175.62,84.4616 1192.43,86.2256 1209.24,88.1485 
  1226.05,90.2458 1242.86,92.72 1259.68,95.5209 1276.49,99.6946 1293.3,124.87 1310.11,130.36 1326.92,136.262 1343.74,142.592 1360.55,149.361 1377.36,97.2885 
  1394.17,97.0076 1410.98,96.5453 1427.8,138.926 1444.61,137.053 1461.42,134.811 1478.23,132.185 1495.04,129.158 1495.04,12.7032 1478.23,13.7922 1461.42,14.8163 
  1444.61,15.776 1427.8,16.6718 1410.98,7.28864 1394.17,5.60664 1377.36,3.93701 1360.55,58.5953 1343.74,56.7781 1326.92,54.7032 1310.11,52.3835 1293.3,49.8372 
  1276.49,29.2977 1259.68,41.6849 1242.86,38.3913 1226.05,35.3058 1209.24,32.4874 1192.43,29.8954 1175.62,27.557 1158.8,25.5345 1141.99,23.7748 1125.18,22.2413 
  1108.37,20.9208 1091.56,19.7332 1074.75,18.7835 1057.93,18.0652 1041.12,17.5479 1024.31,17.1492 1007.5,16.9858 990.686,16.9918 973.874,17.1394 957.062,17.4078 
  940.25,17.7927 923.438,18.271 906.626,18.873 889.814,19.5454 873.002,20.2976 856.19,21.2182 839.378,22.2181 822.566,23.2903 805.755,24.3063 788.943,25.1876 
  772.131,26.0197 755.319,26.7417 738.507,27.4227 721.695,27.9641 704.883,28.3543 688.071,28.3091 671.259,27.7871 654.447,27.2267 637.635,26.543 620.824,25.6795 
  604.012,24.9249 587.2,24.8623 570.388,25.2426 553.576,26.071 536.764,27.4173 519.952,29.2827 503.14,31.3769 486.328,33.6571 469.516,35.325 452.705,36.794 
  435.893,38.5533 419.081,40.6691 402.269,42.9168 385.457,45.7274 368.645,48.5953 351.833,51.4331 335.021,54.5164 318.209,57.7706 301.397,61.3725 284.585,65.5742 
  267.774,70.4322 250.962,75.6547 234.15,81.3486 217.338,87.5129 200.526,94.1843 183.714,101.406 166.902,109.192 150.09,117.54 133.278,126.437 116.466,135.85 
  99.6545,145.759 82.8425,156.13 66.0306,166.924 49.2187,178.109 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#ff0000; stroke-width:0.8; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  46.8453,107.025 61.2837,114.03 75.7222,121.001 90.1607,127.916 104.599,134.75 119.038,141.486 133.476,148.102 147.915,154.579 162.353,160.9 176.791,167.063 
  191.23,173.05 205.668,178.874 220.107,184.47 234.545,189.697 248.984,194.475 263.422,198.786 277.861,202.315 292.299,205.142 306.738,207.524 321.176,209.504 
  335.615,211.24 350.053,212.669 364.491,213.736 378.93,214.544 393.368,215.429 407.807,216.317 422.245,217.294 436.684,218.293 451.122,219.272 465.561,220.224 
  479.999,221.08 494.438,221.984 508.876,222.743 523.315,223.385 537.753,223.97 552.191,224.488 566.63,224.943 581.068,225.33 595.507,225.687 609.945,226.076 
  624.384,226.471 638.822,226.885 653.261,227.298 667.699,227.717 682.138,228.153 696.576,228.615 711.015,228.991 725.453,229.353 739.891,229.719 754.33,230.112 
  768.768,230.558 783.207,231.042 797.645,231.574 812.084,232.192 826.522,232.858 840.961,233.589 855.399,234.398 869.838,235.279 884.276,238.23 898.715,239.105 
  913.153,239.753 927.591,240.427 942.03,241.097 956.468,241.76 970.907,242.416 985.345,243.064 999.784,206.691 1014.22,206.337 1028.66,205.979 1043.1,203.054 
  1057.54,203.602 1071.98,204.258 1086.41,204.965 1100.85,205.725 1115.29,206.54 1129.73,207.41 1144.17,208.337 1158.61,209.323 1173.05,210.37 1187.48,211.477 
  1201.92,212.648 1216.36,213.913 1230.8,215.128 1245.24,216.364 1259.68,217.633 1274.11,218.933 1288.55,220.265 1302.99,221.628 1317.43,223.021 1331.87,224.445 
  1346.31,225.898 1360.75,227.381 1375.18,228.893 1389.62,230.433 1404.06,232.002 1418.5,233.598 1432.94,235.222 1447.38,236.872 1461.81,238.549 
  "/>
<polygon clip-path="url(#clip02)" points="
46.8453,126.649 61.2837,133.166 75.7222,139.78 90.1607,146.43 104.599,153.056 119.038,159.609 133.476,166.044 147.915,172.323 162.353,178.412 176.791,184.293 
  191.23,189.941 205.668,195.352 220.107,200.478 234.545,205.237 248.984,209.572 263.422,213.484 277.861,216.866 292.299,219.641 306.738,221.978 321.176,223.9 
  335.615,225.543 350.053,226.859 364.491,227.667 378.93,228.373 393.368,229.086 407.807,229.748 422.245,230.498 436.684,231.216 451.122,231.976 465.561,232.784 
  479.999,233.566 494.438,234.328 508.876,234.977 523.315,235.568 537.753,236.157 552.191,236.755 566.63,237.383 581.068,238.045 595.507,238.736 609.945,239.477 
  624.384,240.241 638.822,241.03 653.261,241.833 667.699,242.645 682.138,243.472 696.576,244.317 711.015,245.193 725.453,246.074 739.891,246.956 754.33,247.856 
  768.768,248.801 783.207,249.762 797.645,250.739 812.084,251.756 826.522,252.777 840.961,253.816 855.399,254.884 869.838,255.962 884.276,262.154 898.715,263.211 
  913.153,264.229 927.591,265.265 942.03,266.297 956.468,267.322 970.907,268.338 985.345,269.345 999.784,242.309 1014.22,241.971 1028.66,241.611 1043.1,253.279 
  1057.54,253.85 1071.98,254.494 1086.41,255.132 1100.85,255.762 1115.29,256.38 1129.73,256.985 1144.17,257.573 1158.61,258.143 1173.05,258.69 1187.48,259.213 
  1201.92,259.709 1216.36,260.212 1230.8,260.708 1245.24,261.172 1259.68,261.61 1274.11,262.018 1288.55,262.396 1302.99,262.741 1317.43,263.051 1331.87,263.324 
  1346.31,263.558 1360.75,263.75 1375.18,263.898 1389.62,264.001 1404.06,264.055 1418.5,264.06 1432.94,264.012 1447.38,263.91 1461.81,263.751 1461.81,213.348 
  1447.38,209.835 1432.94,206.431 1418.5,203.136 1404.06,199.948 1389.62,196.865 1375.18,193.887 1360.75,191.012 1346.31,188.239 1331.87,185.565 1317.43,182.991 
  1302.99,180.514 1288.55,178.134 1274.11,175.848 1259.68,173.656 1245.24,171.556 1230.8,169.547 1216.36,167.615 1201.92,165.588 1187.48,163.741 1173.05,162.049 
  1158.61,160.504 1144.17,159.101 1129.73,157.835 1115.29,156.699 1100.85,155.689 1086.41,154.798 1071.98,154.022 1057.54,153.354 1043.1,152.829 1028.66,170.347 
  1014.22,170.702 999.784,171.074 985.345,216.783 970.907,216.493 956.468,216.198 942.03,215.896 927.591,215.589 913.153,215.276 898.715,214.999 884.276,214.305 
  869.838,214.596 855.399,213.912 840.961,213.361 826.522,212.939 812.084,212.628 797.645,212.41 783.207,212.322 768.768,212.314 754.33,212.368 739.891,212.483 
  725.453,212.633 711.015,212.789 696.576,212.913 682.138,212.833 667.699,212.788 653.261,212.763 638.822,212.741 624.384,212.7 609.945,212.675 595.507,212.638 
  581.068,212.614 566.63,212.503 552.191,212.221 537.753,211.782 523.315,211.201 508.876,210.508 494.438,209.64 479.999,208.594 465.561,207.663 451.122,206.568 
  436.684,205.37 422.245,204.089 407.807,202.886 393.368,201.772 378.93,200.715 364.491,199.806 350.053,198.478 335.615,196.937 321.176,195.108 306.738,193.07 
  292.299,190.644 277.861,187.764 263.422,184.089 248.984,179.377 234.545,174.157 220.107,168.461 205.668,162.397 191.23,156.158 176.791,149.832 162.353,143.387 
  147.915,136.835 133.476,130.159 119.038,123.363 104.599,116.445 90.1607,109.403 75.7222,102.222 61.2837,94.894 46.8453,87.4016 46.8453,369.204 61.2837,369.204 
  75.7222,369.204 90.1607,369.204 104.599,369.204 119.038,369.204 133.476,369.204 147.915,369.204 162.353,369.204 176.791,369.204 191.23,369.204 205.668,369.204 
  220.107,369.204 234.545,369.204 248.984,369.204 263.422,369.204 277.861,369.204 292.299,369.204 306.738,369.204 321.176,369.204 335.615,369.204 350.053,369.204 
  364.491,369.204 378.93,369.204 393.368,369.204 407.807,369.204 422.245,369.204 436.684,369.204 451.122,369.204 465.561,369.204 479.999,369.204 494.438,369.204 
  508.876,369.204 523.315,369.204 537.753,369.204 552.191,369.204 566.63,369.204 581.068,369.204 595.507,369.204 609.945,369.204 624.384,369.204 638.822,369.204 
  653.261,369.204 667.699,369.204 682.138,369.204 696.576,369.204 711.015,369.204 725.453,369.204 739.891,369.204 754.33,369.204 768.768,369.204 783.207,369.204 
  797.645,369.204 812.084,369.204 826.522,369.204 840.961,369.204 855.399,369.204 869.838,369.204 884.276,369.204 898.715,369.204 913.153,369.204 927.591,369.204 
  942.03,369.204 956.468,369.204 970.907,369.204 985.345,369.204 999.784,369.204 1014.22,369.204 1028.66,369.204 1043.1,369.204 1057.54,369.204 1071.98,369.204 
  1086.41,369.204 1100.85,369.204 1115.29,369.204 1129.73,369.204 1144.17,369.204 1158.61,369.204 1173.05,369.204 1187.48,369.204 1201.92,369.204 1216.36,369.204 
  1230.8,369.204 1245.24,369.204 1259.68,369.204 1274.11,369.204 1288.55,369.204 1302.99,369.204 1317.43,369.204 1331.87,369.204 1346.31,369.204 1360.75,369.204 
  1375.18,369.204 1389.62,369.204 1404.06,369.204 1418.5,369.204 1432.94,369.204 1447.38,369.204 1461.81,369.204 1461.81,369.204 1447.38,369.204 1432.94,369.204 
  1418.5,369.204 1404.06,369.204 1389.62,369.204 1375.18,369.204 1360.75,369.204 1346.31,369.204 1331.87,369.204 1317.43,369.204 1302.99,369.204 1288.55,369.204 
  1274.11,369.204 1259.68,369.204 1245.24,369.204 1230.8,369.204 1216.36,369.204 1201.92,369.204 1187.48,369.204 1173.05,369.204 1158.61,369.204 1144.17,369.204 
  1129.73,369.204 1115.29,369.204 1100.85,369.204 1086.41,369.204 1071.98,369.204 1057.54,369.204 1043.1,369.204 1028.66,369.204 1014.22,369.204 999.784,369.204 
  985.345,369.204 970.907,369.204 956.468,369.204 942.03,369.204 927.591,369.204 913.153,369.204 898.715,369.204 884.276,369.204 869.838,369.204 855.399,369.204 
  840.961,369.204 826.522,369.204 812.084,369.204 797.645,369.204 783.207,369.204 768.768,369.204 754.33,369.204 739.891,369.204 725.453,369.204 711.015,369.204 
  696.576,369.204 682.138,369.204 667.699,369.204 653.261,369.204 638.822,369.204 624.384,369.204 609.945,369.204 595.507,369.204 581.068,369.204 566.63,369.204 
  552.191,369.204 537.753,369.204 523.315,369.204 508.876,369.204 494.438,369.204 479.999,369.204 465.561,369.204 451.122,369.204 436.684,369.204 422.245,369.204 
  407.807,369.204 393.368,369.204 378.93,369.204 364.491,369.204 350.053,369.204 335.615,369.204 321.176,369.204 306.738,369.204 292.299,369.204 277.861,369.204 
  263.422,369.204 248.984,369.204 234.545,369.204 220.107,369.204 205.668,369.204 191.23,369.204 176.791,369.204 162.353,369.204 147.915,369.204 133.476,369.204 
  119.038,369.204 104.599,369.204 90.1607,369.204 75.7222,369.204 61.2837,369.204 46.8453,369.204 
  " fill="#ff0000" fill-opacity="0.5"/>
<polyline clip-path="url(#clip02)" style="stroke:#ff0000; stroke-width:0; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  46.8453,126.649 61.2837,133.166 75.7222,139.78 90.1607,146.43 104.599,153.056 119.038,159.609 133.476,166.044 147.915,172.323 162.353,178.412 176.791,184.293 
  191.23,189.941 205.668,195.352 220.107,200.478 234.545,205.237 248.984,209.572 263.422,213.484 277.861,216.866 292.299,219.641 306.738,221.978 321.176,223.9 
  335.615,225.543 350.053,226.859 364.491,227.667 378.93,228.373 393.368,229.086 407.807,229.748 422.245,230.498 436.684,231.216 451.122,231.976 465.561,232.784 
  479.999,233.566 494.438,234.328 508.876,234.977 523.315,235.568 537.753,236.157 552.191,236.755 566.63,237.383 581.068,238.045 595.507,238.736 609.945,239.477 
  624.384,240.241 638.822,241.03 653.261,241.833 667.699,242.645 682.138,243.472 696.576,244.317 711.015,245.193 725.453,246.074 739.891,246.956 754.33,247.856 
  768.768,248.801 783.207,249.762 797.645,250.739 812.084,251.756 826.522,252.777 840.961,253.816 855.399,254.884 869.838,255.962 884.276,262.154 898.715,263.211 
  913.153,264.229 927.591,265.265 942.03,266.297 956.468,267.322 970.907,268.338 985.345,269.345 999.784,242.309 1014.22,241.971 1028.66,241.611 1043.1,253.279 
  1057.54,253.85 1071.98,254.494 1086.41,255.132 1100.85,255.762 1115.29,256.38 1129.73,256.985 1144.17,257.573 1158.61,258.143 1173.05,258.69 1187.48,259.213 
  1201.92,259.709 1216.36,260.212 1230.8,260.708 1245.24,261.172 1259.68,261.61 1274.11,262.018 1288.55,262.396 1302.99,262.741 1317.43,263.051 1331.87,263.324 
  1346.31,263.558 1360.75,263.75 1375.18,263.898 1389.62,264.001 1404.06,264.055 1418.5,264.06 1432.94,264.012 1447.38,263.91 1461.81,263.751 1461.81,213.348 
  1447.38,209.835 1432.94,206.431 1418.5,203.136 1404.06,199.948 1389.62,196.865 1375.18,193.887 1360.75,191.012 1346.31,188.239 1331.87,185.565 1317.43,182.991 
  1302.99,180.514 1288.55,178.134 1274.11,175.848 1259.68,173.656 1245.24,171.556 1230.8,169.547 1216.36,167.615 1201.92,165.588 1187.48,163.741 1173.05,162.049 
  1158.61,160.504 1144.17,159.101 1129.73,157.835 1115.29,156.699 1100.85,155.689 1086.41,154.798 1071.98,154.022 1057.54,153.354 1043.1,152.829 1028.66,170.347 
  1014.22,170.702 999.784,171.074 985.345,216.783 970.907,216.493 956.468,216.198 942.03,215.896 927.591,215.589 913.153,215.276 898.715,214.999 884.276,214.305 
  869.838,214.596 855.399,213.912 840.961,213.361 826.522,212.939 812.084,212.628 797.645,212.41 783.207,212.322 768.768,212.314 754.33,212.368 739.891,212.483 
  725.453,212.633 711.015,212.789 696.576,212.913 682.138,212.833 667.699,212.788 653.261,212.763 638.822,212.741 624.384,212.7 609.945,212.675 595.507,212.638 
  581.068,212.614 566.63,212.503 552.191,212.221 537.753,211.782 523.315,211.201 508.876,210.508 494.438,209.64 479.999,208.594 465.561,207.663 451.122,206.568 
  436.684,205.37 422.245,204.089 407.807,202.886 393.368,201.772 378.93,200.715 364.491,199.806 350.053,198.478 335.615,196.937 321.176,195.108 306.738,193.07 
  292.299,190.644 277.861,187.764 263.422,184.089 248.984,179.377 234.545,174.157 220.107,168.461 205.668,162.397 191.23,156.158 176.791,149.832 162.353,143.387 
  147.915,136.835 133.476,130.159 119.038,123.363 104.599,116.445 90.1607,109.403 75.7222,102.222 61.2837,94.894 46.8453,87.4016 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#0000ff; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  51.3944,192.788 70.382,160.878 89.3695,149.774 108.357,140.493 127.345,132.886 146.332,126.88 165.32,122.342 184.307,119.388 203.295,117.772 222.282,118.086 
  241.27,119.352 260.258,120.993 279.245,122.769 298.233,124.195 317.22,124.838 336.208,124.908 355.195,125.607 374.183,126.496 393.171,127.637 412.158,128.421 
  431.146,128.098 450.133,126.515 469.121,125.158 488.108,122.713 507.096,117.987 526.084,113.594 545.071,109.53 564.059,106.037 583.046,103.24 602.034,101.365 
  621.021,100.719 640.009,101.98 658.997,103.787 677.984,106.586 696.972,110.209 715.959,114.649 734.947,119.581 753.934,123.681 772.922,127.802 791.909,132.106 
  810.897,109.7 829.885,110.513 848.872,111.368 867.86,112.278 886.847,113.313 905.835,114.769 924.822,103.293 943.81,105.185 962.798,107.289 981.785,109.613 
  1000.77,112.079 1019.76,114.81 1038.75,117.781 1057.74,121.026 1076.72,124.38 1095.71,127.719 1114.7,130.99 1133.69,134.366 1152.67,137.793 1171.66,141.084 
  1190.65,144.201 1209.64,165.463 1228.62,185.302 1247.61,191.871 1266.6,198.41 1285.59,204.909 1304.57,211.311 1323.56,217.581 
  "/>
<polygon clip-path="url(#clip02)" points="
51.3944,215.273 70.382,177.829 89.3695,170.338 108.357,164.594 127.345,159.985 146.332,156.242 165.32,153.179 184.307,150.688 203.295,148.721 222.282,147.295 
  241.27,146.148 260.258,145.245 279.245,144.572 298.233,144.121 317.22,143.749 336.208,143.217 355.195,143.382 374.183,143.877 393.171,144.675 412.158,145.29 
  431.146,145.32 450.133,144.252 469.121,143.408 488.108,141.317 507.096,136.588 526.084,132.561 545.071,129.335 564.059,127.116 583.046,125.991 602.034,125.888 
  621.021,126.771 640.009,128.636 658.997,131.078 677.984,134.277 696.972,138.338 715.959,143.716 734.947,149.829 753.934,154.495 772.922,159.522 791.909,165.322 
  810.897,137.492 829.885,137.035 848.872,136.745 867.86,136.615 886.847,136.67 905.835,137.306 924.822,125.689 943.81,126.431 962.798,127.436 981.785,128.726 
  1000.77,130.318 1019.76,132.387 1038.75,134.907 1057.74,137.923 1076.72,141.245 1095.71,144.77 1114.7,148.47 1133.69,152.557 1152.67,157.056 1171.66,161.719 
  1190.65,166.502 1209.64,187.878 1228.62,220.022 1247.61,230.16 1266.6,240.419 1285.59,250.828 1304.57,261.322 1323.56,271.881 1323.56,163.282 1304.57,161.3 
  1285.59,158.99 1266.6,156.401 1247.61,153.582 1228.62,150.583 1209.64,143.049 1190.65,121.899 1171.66,120.449 1152.67,118.531 1133.69,116.175 1114.7,113.51 
  1095.71,110.668 1076.72,107.514 1057.74,104.128 1038.75,100.655 1019.76,97.2341 1000.77,93.8409 981.785,90.5003 962.798,87.1415 943.81,83.9376 924.822,80.8972 
  905.835,92.2315 886.847,89.9555 867.86,87.9406 848.872,85.9912 829.885,83.9919 810.897,81.9074 791.909,98.8899 772.922,96.0821 753.934,92.8676 734.947,89.3334 
  715.959,85.5815 696.972,82.0806 677.984,78.8953 658.997,76.4957 640.009,75.3243 621.021,74.6669 602.034,76.842 583.046,80.4887 564.059,84.9589 545.071,89.725 
  526.084,94.6281 507.096,99.3852 488.108,104.109 469.121,106.908 450.133,108.778 431.146,110.876 412.158,111.551 393.171,110.599 374.183,109.116 355.195,107.832 
  336.208,106.6 317.22,105.927 298.233,104.269 279.245,100.966 260.258,96.7408 241.27,92.5553 222.282,88.8772 203.295,86.8231 184.307,88.0885 165.32,91.5036 
  146.332,97.5183 127.345,105.787 108.357,116.391 89.3695,129.21 70.382,143.927 51.3944,170.303 51.3944,369.204 70.382,369.204 89.3695,369.204 108.357,369.204 
  127.345,369.204 146.332,369.204 165.32,369.204 184.307,369.204 203.295,369.204 222.282,369.204 241.27,369.204 260.258,369.204 279.245,369.204 298.233,369.204 
  317.22,369.204 336.208,369.204 355.195,369.204 374.183,369.204 393.171,369.204 412.158,369.204 431.146,369.204 450.133,369.204 469.121,369.204 488.108,369.204 
  507.096,369.204 526.084,369.204 545.071,369.204 564.059,369.204 583.046,369.204 602.034,369.204 621.021,369.204 640.009,369.204 658.997,369.204 677.984,369.204 
  696.972,369.204 715.959,369.204 734.947,369.204 753.934,369.204 772.922,369.204 791.909,369.204 810.897,369.204 829.885,369.204 848.872,369.204 867.86,369.204 
  886.847,369.204 905.835,369.204 924.822,369.204 943.81,369.204 962.798,369.204 981.785,369.204 1000.77,369.204 1019.76,369.204 1038.75,369.204 1057.74,369.204 
  1076.72,369.204 1095.71,369.204 1114.7,369.204 1133.69,369.204 1152.67,369.204 1171.66,369.204 1190.65,369.204 1209.64,369.204 1228.62,369.204 1247.61,369.204 
  1266.6,369.204 1285.59,369.204 1304.57,369.204 1323.56,369.204 1323.56,369.204 1304.57,369.204 1285.59,369.204 1266.6,369.204 1247.61,369.204 1228.62,369.204 
  1209.64,369.204 1190.65,369.204 1171.66,369.204 1152.67,369.204 1133.69,369.204 1114.7,369.204 1095.71,369.204 1076.72,369.204 1057.74,369.204 1038.75,369.204 
  1019.76,369.204 1000.77,369.204 981.785,369.204 962.798,369.204 943.81,369.204 924.822,369.204 905.835,369.204 886.847,369.204 867.86,369.204 848.872,369.204 
  829.885,369.204 810.897,369.204 791.909,369.204 772.922,369.204 753.934,369.204 734.947,369.204 715.959,369.204 696.972,369.204 677.984,369.204 658.997,369.204 
  640.009,369.204 621.021,369.204 602.034,369.204 583.046,369.204 564.059,369.204 545.071,369.204 526.084,369.204 507.096,369.204 488.108,369.204 469.121,369.204 
  450.133,369.204 431.146,369.204 412.158,369.204 393.171,369.204 374.183,369.204 355.195,369.204 336.208,369.204 317.22,369.204 298.233,369.204 279.245,369.204 
  260.258,369.204 241.27,369.204 222.282,369.204 203.295,369.204 184.307,369.204 165.32,369.204 146.332,369.204 127.345,369.204 108.357,369.204 89.3695,369.204 
  70.382,369.204 51.3944,369.204 
  " fill="#0000ff" fill-opacity="0.5"/>
<polyline clip-path="url(#clip02)" style="stroke:#0000ff; stroke-width:0; stroke-opacity:1; fill:none" points="
  51.3944,215.273 70.382,177.829 89.3695,170.338 108.357,164.594 127.345,159.985 146.332,156.242 165.32,153.179 184.307,150.688 203.295,148.721 222.282,147.295 
  241.27,146.148 260.258,145.245 279.245,144.572 298.233,144.121 317.22,143.749 336.208,143.217 355.195,143.382 374.183,143.877 393.171,144.675 412.158,145.29 
  431.146,145.32 450.133,144.252 469.121,143.408 488.108,141.317 507.096,136.588 526.084,132.561 545.071,129.335 564.059,127.116 583.046,125.991 602.034,125.888 
  621.021,126.771 640.009,128.636 658.997,131.078 677.984,134.277 696.972,138.338 715.959,143.716 734.947,149.829 753.934,154.495 772.922,159.522 791.909,165.322 
  810.897,137.492 829.885,137.035 848.872,136.745 867.86,136.615 886.847,136.67 905.835,137.306 924.822,125.689 943.81,126.431 962.798,127.436 981.785,128.726 
  1000.77,130.318 1019.76,132.387 1038.75,134.907 1057.74,137.923 1076.72,141.245 1095.71,144.77 1114.7,148.47 1133.69,152.557 1152.67,157.056 1171.66,161.719 
  1190.65,166.502 1209.64,187.878 1228.62,220.022 1247.61,230.16 1266.6,240.419 1285.59,250.828 1304.57,261.322 1323.56,271.881 1323.56,163.282 1304.57,161.3 
  1285.59,158.99 1266.6,156.401 1247.61,153.582 1228.62,150.583 1209.64,143.049 1190.65,121.899 1171.66,120.449 1152.67,118.531 1133.69,116.175 1114.7,113.51 
  1095.71,110.668 1076.72,107.514 1057.74,104.128 1038.75,100.655 1019.76,97.2341 1000.77,93.8409 981.785,90.5003 962.798,87.1415 943.81,83.9376 924.822,80.8972 
  905.835,92.2315 886.847,89.9555 867.86,87.9406 848.872,85.9912 829.885,83.9919 810.897,81.9074 791.909,98.8899 772.922,96.0821 753.934,92.8676 734.947,89.3334 
  715.959,85.5815 696.972,82.0806 677.984,78.8953 658.997,76.4957 640.009,75.3243 621.021,74.6669 602.034,76.842 583.046,80.4887 564.059,84.9589 545.071,89.725 
  526.084,94.6281 507.096,99.3852 488.108,104.109 469.121,106.908 450.133,108.778 431.146,110.876 412.158,111.551 393.171,110.599 374.183,109.116 355.195,107.832 
  336.208,106.6 317.22,105.927 298.233,104.269 279.245,100.966 260.258,96.7408 241.27,92.5553 222.282,88.8772 203.295,86.8231 184.307,88.0885 165.32,91.5036 
  146.332,97.5183 127.345,105.787 108.357,116.391 89.3695,129.21 70.382,143.927 51.3944,170.303 
  "/>
<polyline clip-path="url(#clip02)" style="stroke:#ff0000; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  42.2962,185.53 52.1855,187.26 62.0749,189.042 71.9643,190.848 81.8536,192.676 91.743,194.472 101.632,196.218 111.522,197.855 121.411,199.292 131.3,200.559 
  141.19,201.656 151.079,202.634 160.968,204.135 170.858,205.69 180.747,206.892 190.637,206.907 200.526,205.456 210.415,203.715 220.305,201.581 230.194,199.173 
  240.083,195.96 249.973,193.883 259.862,192.799 269.751,192.445 279.641,192.852 289.53,193.912 299.419,194.946 309.309,195.755 319.198,196.441 329.088,196.944 
  338.977,197.135 348.866,196.786 358.756,196.156 368.645,195.572 378.534,195.115 388.424,194.838 398.313,194.824 408.202,195.075 418.092,195.658 427.981,196.552 
  437.87,197.62 447.76,198.644 457.649,199.616 467.539,200.593 477.428,201.538 487.317,202.422 497.207,203.296 507.096,204.153 516.985,204.964 526.875,205.643 
  536.764,206.212 546.653,186.383 556.543,185.98 566.432,185.562 576.321,185.085 586.211,184.562 596.1,183.989 605.99,195.756 615.879,196.434 625.768,197.111 
  635.658,197.8 645.547,198.485 655.436,199.167 665.326,199.901 675.215,200.672 685.104,201.458 694.994,202.257 704.883,203.075 714.772,203.912 724.662,214.414 
  734.551,216.51 744.441,218.62 754.33,220.757 764.219,222.918 774.109,225.099 783.998,227.299 793.887,229.519 803.777,231.757 813.666,233.932 823.555,236.105 
  833.445,238.285 843.334,240.469 853.223,242.657 863.113,244.848 873.002,247.04 882.892,249.233 892.781,251.427 
  "/>
<polygon clip-path="url(#clip02)" points="
42.2962,202.406 52.1855,204.274 62.0749,206.236 71.9643,208.245 81.8536,210.288 91.743,212.297 101.632,214.255 111.522,216.089 121.411,217.732 131.3,219.188 
  141.19,220.541 151.079,221.764 160.968,223.666 170.858,225.592 180.747,226.986 190.637,226.612 200.526,224.043 210.415,221.14 220.305,217.833 230.194,214.814 
  240.083,212.381 249.973,211.409 259.862,211.338 269.751,211.757 279.641,212.701 289.53,214.432 299.419,215.962 309.309,216.864 319.198,217.186 329.088,217.368 
  338.977,217.345 348.866,216.798 358.756,215.932 368.645,215.296 378.534,214.94 388.424,214.82 398.313,214.995 408.202,215.483 418.092,216.353 427.981,217.465 
  437.87,218.654 447.76,219.833 457.649,221.008 467.539,222.232 477.428,223.47 487.317,224.703 497.207,225.992 507.096,227.328 516.985,228.683 526.875,230.013 
  536.764,231.323 546.653,205.282 556.543,205.006 566.432,204.785 576.321,204.57 586.211,204.376 596.1,204.207 605.99,216.122 615.879,216.479 625.768,216.803 
  635.658,217.107 645.547,217.392 655.436,217.657 665.326,217.928 675.215,218.2 685.104,218.467 694.994,218.732 704.883,219.014 714.772,219.325 724.662,253.176 
  734.551,254.68 744.441,256.151 754.33,257.615 764.219,259.064 774.109,260.489 783.998,261.887 793.887,263.258 803.777,264.599 813.666,265.909 823.555,267.215 
  833.445,268.5 843.334,269.756 853.223,270.982 863.113,272.175 873.002,273.335 882.892,274.46 892.781,275.549 892.781,227.305 882.892,224.006 873.002,220.744 
  863.113,217.52 853.223,214.332 843.334,211.182 833.445,208.069 823.555,204.994 813.666,201.956 803.777,198.916 793.887,195.779 783.998,192.71 774.109,189.708 
  764.219,186.772 754.33,183.899 744.441,181.089 734.551,178.34 724.662,175.652 714.772,188.499 704.883,187.135 694.994,185.782 685.104,184.449 675.215,183.145 
  665.326,181.874 655.436,180.678 645.547,179.578 635.658,178.492 625.768,177.42 615.879,176.388 605.99,175.391 596.1,163.772 586.211,164.747 576.321,165.6 
  566.432,166.338 556.543,166.954 546.653,167.483 536.764,181.102 526.875,181.273 516.985,181.245 507.096,180.978 497.207,180.6 487.317,180.142 477.428,179.606 
  467.539,178.954 457.649,178.223 447.76,177.455 437.87,176.587 427.981,175.638 418.092,174.964 408.202,174.668 398.313,174.653 388.424,174.857 378.534,175.291 
  368.645,175.849 358.756,176.38 348.866,176.774 338.977,176.925 329.088,176.52 319.198,175.695 309.309,174.647 299.419,173.93 289.53,173.392 279.641,173.003 
  269.751,173.133 259.862,174.261 249.973,176.356 240.083,179.538 230.194,183.531 220.305,185.328 210.415,186.29 200.526,186.869 190.637,187.202 180.747,186.799 
  170.858,185.789 160.968,184.603 151.079,183.504 141.19,182.771 131.3,181.931 121.411,180.852 111.522,179.62 101.632,178.182 91.743,176.647 81.8536,175.065 
  71.9643,173.451 62.0749,171.849 52.1855,170.246 42.2962,168.653 42.2962,369.204 52.1855,369.204 62.0749,369.204 71.9643,369.204 81.8536,369.204 91.743,369.204 
  101.632,369.204 111.522,369.204 121.411,369.204 131.3,369.204 141.19,369.204 151.079,369.204 160.968,369.204 170.858,369.204 180.747,369.204 190.637,369.204 
  200.526,369.204 210.415,369.204 220.305,369.204 230.194,369.204 240.083,369.204 249.973,369.204 259.862,369.204 269.751,369.204 279.641,369.204 289.53,369.204 
  299.419,369.204 309.309,369.204 319.198,369.204 329.088,369.204 338.977,369.204 348.866,369.204 358.756,369.204 368.645,369.204 378.534,369.204 388.424,369.204 
  398.313,369.204 408.202,369.204 418.092,369.204 427.981,369.204 437.87,369.204 447.76,369.204 457.649,369.204 467.539,369.204 477.428,369.204 487.317,369.204 
  497.207,369.204 507.096,369.204 516.985,369.204 526.875,369.204 536.764,369.204 546.653,369.204 556.543,369.204 566.432,369.204 576.321,369.204 586.211,369.204 
  596.1,369.204 605.99,369.204 615.879,369.204 625.768,369.204 635.658,369.204 645.547,369.204 655.436,369.204 665.326,369.204 675.215,369.204 685.104,369.204 
  694.994,369.204 704.883,369.204 714.772,369.204 724.662,369.204 734.551,369.204 744.441,369.204 754.33,369.204 764.219,369.204 774.109,369.204 783.998,369.204 
  793.887,369.204 803.777,369.204 813.666,369.204 823.555,369.204 833.445,369.204 843.334,369.204 853.223,369.204 863.113,369.204 873.002,369.204 882.892,369.204 
  892.781,369.204 892.781,369.204 882.892,369.204 873.002,369.204 863.113,369.204 853.223,369.204 843.334,369.204 833.445,369.204 823.555,369.204 813.666,369.204 
  803.777,369.204 793.887,369.204 783.998,369.204 774.109,369.204 764.219,369.204 754.33,369.204 744.441,369.204 734.551,369.204 724.662,369.204 714.772,369.204 
  704.883,369.204 694.994,369.204 685.104,369.204 675.215,369.204 665.326,369.204 655.436,369.204 645.547,369.204 635.658,369.204 625.768,369.204 615.879,369.204 
  605.99,369.204 596.1,369.204 586.211,369.204 576.321,369.204 566.432,369.204 556.543,369.204 546.653,369.204 536.764,369.204 526.875,369.204 516.985,369.204 
  507.096,369.204 497.207,369.204 487.317,369.204 477.428,369.204 467.539,369.204 457.649,369.204 447.76,369.204 437.87,369.204 427.981,369.204 418.092,369.204 
  408.202,369.204 398.313,369.204 388.424,369.204 378.534,369.204 368.645,369.204 358.756,369.204 348.866,369.204 338.977,369.204 329.088,369.204 319.198,369.204 
  309.309,369.204 299.419,369.204 289.53,369.204 279.641,369.204 269.751,369.204 259.862,369.204 249.973,369.204 240.083,369.204 230.194,369.204 220.305,369.204 
  210.415,369.204 200.526,369.204 190.637,369.204 180.747,369.204 170.858,369.204 160.968,369.204 151.079,369.204 141.19,369.204 131.3,369.204 121.411,369.204 
  111.522,369.204 101.632,369.204 91.743,369.204 81.8536,369.204 71.9643,369.204 62.0749,369.204 52.1855,369.204 42.2962,369.204 
  " fill="#ff0000" fill-opacity="0.5"/>
<polyline clip-path="url(#clip02)" style="stroke:#ff0000; stroke-width:0; stroke-opacity:1; fill:none" points="
  42.2962,202.406 52.1855,204.274 62.0749,206.236 71.9643,208.245 81.8536,210.288 91.743,212.297 101.632,214.255 111.522,216.089 121.411,217.732 131.3,219.188 
  141.19,220.541 151.079,221.764 160.968,223.666 170.858,225.592 180.747,226.986 190.637,226.612 200.526,224.043 210.415,221.14 220.305,217.833 230.194,214.814 
  240.083,212.381 249.973,211.409 259.862,211.338 269.751,211.757 279.641,212.701 289.53,214.432 299.419,215.962 309.309,216.864 319.198,217.186 329.088,217.368 
  338.977,217.345 348.866,216.798 358.756,215.932 368.645,215.296 378.534,214.94 388.424,214.82 398.313,214.995 408.202,215.483 418.092,216.353 427.981,217.465 
  437.87,218.654 447.76,219.833 457.649,221.008 467.539,222.232 477.428,223.47 487.317,224.703 497.207,225.992 507.096,227.328 516.985,228.683 526.875,230.013 
  536.764,231.323 546.653,205.282 556.543,205.006 566.432,204.785 576.321,204.57 586.211,204.376 596.1,204.207 605.99,216.122 615.879,216.479 625.768,216.803 
  635.658,217.107 645.547,217.392 655.436,217.657 665.326,217.928 675.215,218.2 685.104,218.467 694.994,218.732 704.883,219.014 714.772,219.325 724.662,253.176 
  734.551,254.68 744.441,256.151 754.33,257.615 764.219,259.064 774.109,260.489 783.998,261.887 793.887,263.258 803.777,264.599 813.666,265.909 823.555,267.215 
  833.445,268.5 843.334,269.756 853.223,270.982 863.113,272.175 873.002,273.335 882.892,274.46 892.781,275.549 892.781,227.305 882.892,224.006 873.002,220.744 
  863.113,217.52 853.223,214.332 843.334,211.182 833.445,208.069 823.555,204.994 813.666,201.956 803.777,198.916 793.887,195.779 783.998,192.71 774.109,189.708 
  764.219,186.772 754.33,183.899 744.441,181.089 734.551,178.34 724.662,175.652 714.772,188.499 704.883,187.135 694.994,185.782 685.104,184.449 675.215,183.145 
  665.326,181.874 655.436,180.678 645.547,179.578 635.658,178.492 625.768,177.42 615.879,176.388 605.99,175.391 596.1,163.772 586.211,164.747 576.321,165.6 
  566.432,166.338 556.543,166.954 546.653,167.483 536.764,181.102 526.875,181.273 516.985,181.245 507.096,180.978 497.207,180.6 487.317,180.142 477.428,179.606 
  467.539,178.954 457.649,178.223 447.76,177.455 437.87,176.587 427.981,175.638 418.092,174.964 408.202,174.668 398.313,174.653 388.424,174.857 378.534,175.291 
  368.645,175.849 358.756,176.38 348.866,176.774 338.977,176.925 329.088,176.52 319.198,175.695 309.309,174.647 299.419,173.93 289.53,173.392 279.641,173.003 
  269.751,173.133 259.862,174.261 249.973,176.356 240.083,179.538 230.194,183.531 220.305,185.328 210.415,186.29 200.526,186.869 190.637,187.202 180.747,186.799 
  170.858,185.789 160.968,184.603 151.079,183.504 141.19,182.771 131.3,181.931 121.411,180.852 111.522,179.62 101.632,178.182 91.743,176.647 81.8536,175.065 
  71.9643,173.451 62.0749,171.849 52.1855,170.246 42.2962,168.653 
  "/>
<polygon clip-path="url(#clip00)" points="
652.525,112.417 772.063,112.417 772.063,36.817 652.525,36.817 
  " fill="#ffffff" fill-opacity="1"/>
<polyline clip-path="url(#clip00)" style="stroke:#00002d; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  652.525,112.417 772.063,112.417 772.063,36.817 652.525,36.817 652.525,112.417 
  "/>
<polyline clip-path="url(#clip00)" style="stroke:#0000ff; stroke-width:0.8; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  660.525,51.937 708.525,51.937 
  "/>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:start;" transform="rotate(0, 716.525, 56.437)" x="716.525" y="56.437">3.0 0.0 </text>
</g>
<polyline clip-path="url(#clip00)" style="stroke:#ff0000; stroke-width:0.8; stroke-opacity:1; fill:none" stroke-dasharray="8, 5" points="
  660.525,67.057 708.525,67.057 
  "/>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:start;" transform="rotate(0, 716.525, 71.557)" x="716.525" y="71.557">3.0 1.0 </text>
</g>
<polyline clip-path="url(#clip00)" style="stroke:#0000ff; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  660.525,82.177 708.525,82.177 
  "/>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:start;" transform="rotate(0, 716.525, 86.677)" x="716.525" y="86.677">4.0 0.0 </text>
</g>
<polyline clip-path="url(#clip00)" style="stroke:#ff0000; stroke-width:0.8; stroke-opacity:1; fill:none" points="
  660.525,97.297 708.525,97.297 
  "/>
<g clip-path="url(#clip00)">
<text style="fill:#00002d; fill-opacity:1; font-family:Arial,Helvetica Neue,Helvetica,sans-serif; font-size:12; text-anchor:start;" transform="rotate(0, 716.525, 101.797)" x="716.525" y="101.797">4.0 1.0 </text>
</g>
</svg>
